body {
  background-color: #ffffff;
  font-family: 'arial' !important;
  color: #333333;
  font-size: 14px !important;
  overflow-x: hidden;
  line-height: 24px;
}

a[class="item_nombre"] 
{ 
  	font-size: 15px ; 
  	font-weight: bold;
  	color: #002550;  
}

a:hover[class="item_nombre"] 
{ 
	background-color: #d2d9e1;

}

a{
	text-decoration: none !important;
}

.foto_investigacion{
	min-height: 50px;
}

.row_resultado
{
        background-color: #0025502e;
    font-size: 18px;
    color: #002651;
    padding: 10px !important;
}